version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ./api/uploads:/app/api/uploads
      - ./api/processed_videos:/app/api/processed_videos
      - ./api/alerts:/app/api/alerts  # 报警信息存储目录
    environment:
      - PYTHONPATH=/app

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:8000